endpoint_add_tcp "0.0.0.0:30120" 
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=127.0.0.1;uid=root;password=;database=vrpex"



# Inicial 

# ^^Voip^^
ensure [voip]

# MAP



# Resources


#Nation


